* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;

    /*added for debugging*/
    /*display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;*/
    background: lightgray;
}

.bg-image {
    --bg-img: url('images/blue minimal transparent.png');
    --bg-img-opacity: 0.3;
    position: relative;
    isolation: isolate;
}

.bg-image::after {
    content: '';
    position:absolute;
    z-index:-1;
    inset:0;
    opacity: var(--bg-img-opacity);

    background-image: var(--bg-img);
    background-size: contain; /*skethcy*/
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header {
    background-image: url('images/cropped-header22.jpg');
    color: white;
    padding: 80px 0;
    text-align: center;
    font-size: 3em;
}

main {
    padding: 0% 15%;
    background-color: lightgrey;
}

#page-top {
    margin: 0px;
}

.main-text { 
    line-height: 1.8;
    text-align: justify;
    font-weight: 500;
    font-size: large;
    
}

.bottom-text {
    line-height: 1.8;
    text-align: justify;
    font-weight: 500;
    font-size: large;
    margin-bottom: 0%;
    padding-bottom: 60px;
}


main h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 0%;
    margin-bottom: 0%;
}

main h2 {
    text-align: center;
    padding-bottom: 10px;
}

.mike-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */

    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.mike-info p {
    margin-top: 10px; /* Add some space between the image and the text */
    text-align: center; /* Center the text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.mike-photo {
    max-width: 100%;
    height: 50%;
    width: 50%;
    margin: 0 20px 0 5px;
    border: solid 4px lightgrey;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 1px #505050;
    
}

/* Navigation bar for large screens (horizontal links) */
nav#nav-bar {
    background-color: #444;
    overflow: hidden;
    text-align: center;
}

nav#nav-bar a {
    display: inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

nav#nav-bar a:hover {
    background-color: #575757;
}

p {
    text-align: justify;
    margin-top: 20px; /* Add space between the image and text */
}

.people-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two Fractional Columns */
    grid-template-rows: 1fr 1fr; /* Two Equal Rows */
    gap: 55px; /* Space between grid items */
    padding: 20px;
    
}

.people-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /*justify-content: center;*/
}

.people-box {
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.people-name {
    margin: 10px 0; /* Add space between headers and other elements */
    font-weight: bold;
}

.people-photo {
    width: 150px;
    height: 150px;
    margin: 0 20px 0 5px;
    border: solid 4px lightgrey;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 1px #505050;
    object-fit: cover;
}

.pub_container {
    width: 100%;
    padding: 8px;
    
}

.pub_author {
    font-size: 1.0rem;
    margin-bottom: 5px;
    margin-top: 1px;
    text-align: left; 
    padding-left: 100px;
}

.pub_title {
    font-size: 1.0rem;
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 10px;
    text-align: left; 
    padding-left: 100px;
}

.pub_additional {
    font-size: 1.0rem;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: left; 
    padding-left: 100px;
}

/* Sidebar for small screens */
.sidebar {
    height: 100%; /* Full-height */
    width: 0; /* Initial width set to 0 */
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    background-color: #333; /* Dark background */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* Smooth transition for opening */
    padding-top: 60px; /* Padding from the top */
    z-index: 1000; /* On top of other elements */
}

/* Sidebar links */
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

/* Overlay (dark background) */
.overlay {
    position: fixed;
    display: none; /* Hidden by default */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    z-index: 999; /* Behind the sidebar, but above everything else */
    opacity: 0;
    transition: opacity 0.25s ease; /* Smooth Fade In */
}

.overlay.active {
    display: block;
    opacity: 1;
}

/* Hamburger icon */
.icon {
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: #333;
    position: fixed;
    top: 1%;
    left: 15px;
    z-index: 1001;
    display: none; /* Hidden by default */
    transition: all 0.6s ease; /* Smooth Transitioning */
}

.icon.close {
    font-size: 30px;
}

/* Media query for small screens (mobile view) */
@media screen and (max-width: 600px) {
    nav#nav-bar {
        display: none; /* Hide the horizontal nav */
    }

    .icon {
        display: block; /* Show the hamburger icon */
    }

    .sidebar a {
        font-size: 1em; /* Smaller font size for mobile */
    }

    .people-container{
        grid-template-columns: 1fr;
    }
}